h3.text-uppercase.text-center= title

section.action.col-10
  div.row
    div.col-2.text-left
      a(href="/admin") Inicio
      //- span.oi.oi-home
    div.col-2.text-left
      a(href="/agregar-comentario") agregar
  hr

//- div.comment
//-   figure.comment-person
//-     img.comment-img(src='images/avatar.png')
//-   div.comment-leyend
//-     p.leyend-text.
//-       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maiores veritatis. Dignissimos soluta quia, voluptatibus magni libero cupiditate deleniti quam! Totam quis unde aliquid temporibus veniam fugit eveniet impedit nostrum.
//-     small.leyend-person Juan Sebastian Moriones
each comentario in data
  article.commentary
    div.comment
      figure.comment-person
        img.comment-img(src=`images/comment/${comentario.foto}`)
      div.comment-leyend
        p.leyend-text #{comentario.comentario}
        small.leyend-person #{comentario.nombre}
    div.comment-action
      a.icon-pencil.comment-link.edit(href=`/edit-comment/${comentario.id}`)
      form(method="post", action=`/delete-comment/${comentario.id}`)
        button.icon-bin.comment-link.delete