extends ../layout.pug

block content
  header.Header
    div.container
      div.row
        article.col-12
          a.link-style(href="/admin") Inicio
  section.container
    div.row
      article.col-12
        each comentario in data
          form(method="POST", action=`/edit-comment/${comentario.id}`, enctype="multipart/form-data")
            input(type="hidden", value=`${comentario.id}`, name="id")
            div.form-group
              label(for="nombre-persona") Nombre
              input#nombre-persona.form-control(name="nombre", type="text", placeholder="Carlos ....", value=`${comentario.nombre}`)
            div.form-group
              label(for="descripcion-comment") Comentario
              textarea#descripcion-comment.form-control(name="descripcion", rows="3", placeholder="Los platos ...") #{comentario.comentario}
            div.form-group
              label(for="foto-persona") Foto de la persona
              input.form-control-file#foto-persona(type="file", name="foto", accept="image/*")
              input(type="hidden", value=`${comentario.foto}`, name="imagen_hdn")
            button.btn.btn-primary(type="submit") Guardar
            a.btn.btn-danger(href="/admin") Cancelar