extends ../layout.pug

block content
  header.Header
    div.container
      div.row
        article.col-12
          a.link-style(href="/admin") Inicio
  section.container
    div.row
      article.col-12
        each d in data
          form(method="POST", action="/editar-platos/"+d.id, enctype="multipart/form-data")
            input(type="text", name="id", value=`${id}`)
            div.form-group
              label(for="titulo-categoria") Nombre
              input#titulo-categoria.form-control(name="nombrep", type="text", placeholder="Platos americanos", value=`${d.nombrep}`)
            div.form-group
              label(for="descripcion-plato") Descripcion
              textarea#descripcion-plato.form-control(name="descripcion") #{d.descripcion}
            div.form-group
              label.mr-sm-2(for="dificultad-plato") Dificultad
              select.custom-select.mb-2.mr-sm-2.mb-sm-0#dificultad-plato(name="dificultad")
                option(selected) #{d.dificultad}
                option - - -
                option(value="1", name="dificultad-1") 1
                option(value="2", name="dificultad-2") 2
                option(value="3", name="dificultad-3") 3
                option(value="4", name="dificultad-4") 4
                option(value="5", name="dificultad-5") 5
            div.form-group
              label(for="imagen-plato") Imagen
              input.form-control-file#imagen-plato(type="file", name="photo", accept="image/*")
              img(src=`/images/platos/`+d.foto, width="30%")
            div.form-group
              label(for="precio-plato") Precio
              input#precio-plato.form-control(name="precio", type="text", placeholder="1000", value=`${d.precio}`)
            div.form-group
              select.form-control(name="categoria")
                option(selected) #{d.nombrec}
                if(data.length)
                  option - - -
                  each categoria in categorias
                    option(value=`${categoria.nombrec}`) #{categoria.nombrec}
            button.btn.btn-primary(type="submit") Guardar edicion
            a.btn.btn-danger(href="/admin") Cancelar